body{
    background-image: url('logo-transparent1-png.png');
    background-size: 50%; /* Καλύπτει το σύνολο της σελίδας */
    background-repeat: no-repeat; /* Αποτρέπει την επανάληψη της φωτογραφίας */
    background-color: rgb(158, 136, 243);
    
    }
