body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    max-width: 800px;
    display: flex;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #000;
  }
  
  .left-section {
    flex: 1;
    padding: 40px;
  }
  
  .right-section {
    flex: 1;
    background-color: #4267B2;
    color: #fff;
    text-align: center;
    padding: 40px;
  }
  
  .left-section img {
    width: 150px;
  }
  
  h1, h2 {
    margin: 0;
    font-weight: normal;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }
  
  button {
    background-color: #1877F2;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: #1877F2;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  
/*body {
    font-family: Arial, sans-serif;
    background-color: #9cd4f7;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.form-login {
    background-color: #7c9cd5;
    padding: 100px;
    border-radius: 5px;
    box-shadow: 12 2 10px rgba(0, 0, 000, 0.1);
}

.form-toggle {
    text-align: center;
}

form {
    text-align: center;
}

loginbutton {
    background-color: #d9005a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

input {
    padding: -655px;
    margin: 5px;
    width: 100%;
}

